.timer-container,.question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
  }
  
  .timer,.question {
    font-size: 3rem;
    padding: 1rem;
    border-radius: 0.5rem;
  }
  